.downloadIcon {
    background-image: url('chrome-extension://__MSG_@@ppcmondmdkpkkafbmmphjpnpkbejakhp/images/download-idle.png');
    padding-left: 16px;
    padding-right: 16px;
    display: inline;
    background-position: center; 
    background-repeat: no-repeat;
}

.downloadIcon:hover {
    background-image: url('chrome-extension://__MSG_@@ppcmondmdkpkkafbmmphjpnpkbejakhp/images/download-hover.png');
}

