    background-image: url('chrome-extension://__MSG_@@ppcmondmdkpkkafbmmphjpnpkbejakhp/images/download-idle.png');
.downloadIcon {
    padding-left: 16px;
    padding-right: 16px;
    display: inline;
    background-position: center; 
    background-repeat: no-repeat;
}

    background-image: url('chrome-extension://__MSG_@@ppcmondmdkpkkafbmmphjpnpkbejakhp/images/download-hover.png');
.downloadIcon:hover {
}

